# ~/.config/zsh/env.common.zsh
# ----------------------------
# Platform‑agnostic environment variables
# (nothing here should assume macOS‑only tooling)

# --- Shell Behaviour & Appearance -----------------------------------
export TERM="xterm-256color"
export LANG="en_US.UTF-8"
export PAGER="less"
export LESS="-R"                     # Make less handle colours correctly
export BAT_THEME="DarkNeon"
export COLORTERM="truecolor"

# --- ripgrep / eza colour schemes -----------------------------------
# (these are generic dir‑colour strings, not mac‑specific)
export LS_COLORS="di=1;36:ln=35:so=32:pi=33:ex=31:bd=34;46:cd=34;43:su=30;41:sg=30;46:tw=30;42:ow=30;43"
export EZA_THEME="custom_theme"

# --- Conda -----------------------------------------------------------
export CONDA_EXE="$HOME/miniconda3/bin/conda"
export _CE_M=""
export _CE_CONDA=""
export CONDA_PYTHON_EXE="$HOME/miniconda3/bin/python"
export CONDA_SHLVL="1"
export CONDA_PREFIX="$HOME/miniconda3"
export CONDA_DEFAULT_ENV="base"
export CONDA_PROMPT_MODIFIER="(base)"

# --- SSH -------------------------------------------------------------
export SSH_AUTH_SOCK="$SSH_AUTH_SOCK"   # will be set by ssh‑agent on any OS

# --- API Keys & Credentials ---
export CONSUMER_KEY="<YOUR_CONSUMER_KEY>"           # TODO: Fill in your consumer key
export CONSUMER_SECRET="<YOUR_CONSUMER_SECRET>"     # TODO: Fill in your consumer secret
export ACCESS_TOKEN="<YOUR_ACCESS_TOKEN>"           # TODO: Fill in your access token
export ACCESS_TOKEN_SECRET="<YOUR_ACCESS_TOKEN_SECRET>" # TODO: Fill in your access token secret
export BEARER_TOKEN="<YOUR_BEARER_TOKEN>"           # TODO: Fill in your bearer token
export TWILIO_SID="<YOUR_TWILIO_SID>"               # TODO: Fill in your Twilio SID
export TWILIO_TOKEN="<YOUR_TWILIO_TOKEN>"           # TODO: Fill in your Twilio token
export TWILIO_PHONE="<YOUR_TWILIO_PHONE>"           # TODO: Fill in your Twilio phone number
export GOOGLE_APPLICATION_CREDENTIALS="<YOUR_GOOGLE_APPLICATION_CREDENTIALS_PATH>" # TODO: Fill in your Google credentials path
export OPENAI_API_KEY="<YOUR_OPENAI_API_KEY>"       # TODO: Fill in your OpenAI API key
export NOTION_API_KEY="<YOUR_NOTION_API_KEY>"       # TODO: Fill in your Notion API key
export ANTHROPIC_API_KEY="<YOUR_ANTHROPIC_API_KEY>" # TODO: Fill in your Anthropic API key
export DESSERT="<YOUR_SECRET_DESSERT>"              # TODO: Fill in your secret dessert

# --- Database Connections ---
export MONGO_URI="<YOUR_MONGO_URI>"                 # TODO: Fill in your MongoDB URI

# --- Custom Project Values ------------------------------------------
export ADTALEM_REPO_PATH="$HOME/AdTalem/repos/"


# --- Remote‑machine shortcuts ---------------------------------------
export PI4="elucia@viper:/mnt/storage1/WatchTorrents"
export PI42="elucia@viper:/mnt/storage1/WatchTorrents"
export MOVIES="elucia@fox:/mnt/storage1/Movies"
export TMP="elucia@fox:/mnt/storage1/tmp_extractions"
