
# nested repos we dont track
packages/
adopt_remaining.sh
**/nohup.out
**/env.zsh
**/github-personal.sh
**/github-work.sh
**/AppSupport/*
**/private/*
**/sockets/*
**/logs/*
**/github-*
**/homepage/services.yaml
**/homepage/settings.yaml
__pycache__
