# ~/.config/zsh/env.zsh
# ---------------------
# Custom environment variables and PATH setup

# --- Shell Behavior & Appearance ---
export TERM="xterm-256color"
export LANG="en_US.UTF-8"
export PAGER="less"
export LESS="-R"                          # Make less handle colors correctly
export LSCOLORS="Gxfxcxdxbxegedabagacad"  # Colors for ls on macOS
export LS_COLORS="di=1;36:ln=35:so=32:pi=33:ex=31:bd=34;46:cd=34;43:su=30;41:sg=30;46:tw=30;42:ow=30;43"
export BAT_THEME="DarkNeon"               # Theme for bat command
export COLORTERM="truecolor"
export COMMAND_MODE="unix2003"

# --- Terminal & Session Information ---
export TERM_PROGRAM="iTerm.app"
export TERM_PROGRAM_VERSION="3.5.12beta2"
export TERM_SESSION_ID="w0t0p1:3FF31DB9-486F-468E-AF3C-DB2E9B111799"
export LC_TERMINAL="iTerm2"
export LC_TERMINAL_VERSION="3.5.12beta2"
export ITERM_PROFILE="Starship"
export ITERM_SESSION_ID="w0t0p1:3FF31DB9-486F-468E-AF3C-DB2E9B111799"
export TERM_FEATURES="T3LrMSc7UUw9Ts3BFGsSyHNoSxF"
export TERMINFO_DIRS="/Applications/iTerm.app/Contents/Resources/terminfo:/usr/share/terminfo"
export COLORFGBG="15;0"
export __CFBundleIdentifier="com.googlecode.iterm2"
export P9K_TTY="old"
export _P9K_TTY="/dev/ttys029"
export GPG_TTY="/dev/ttys029"

# --- Path Configuration ---
export PATH="/opt/homebrew/opt/ruby/bin:\
$HOME/.gem/bin:\
$HOME/miniconda3/bin:\
$HOME/.asdf/shims:\
/opt/homebrew/opt/asdf/libexec/bin:\
/opt/homebrew/bin:\
/opt/homebrew/sbin:\
$HOME/flutter/bin:\
$HOME/opt/anaconda3/bin:\
/usr/local/bin:\
/usr/bin:\
/bin:\
/usr/sbin:\
/sbin:\
/Library/TeX/texbin:\
/opt/X11/bin:\
$HOME/.local/bin"

# --- User & System Basics ---
export HOME="/Users/ilyakhruschev"
export USER="ilyakhruschev"
export LOGNAME="ilyakhruschev"
export SHELL="/bin/zsh"
export DOTFILES="/Users/ilyakhruschev/Documents/_backups/dotfiles"
# export OLDPWD="/Users/ilyakhruschev/Documents/_backups"
export TMPDIR="/var/folders/s1/rgk88jmd2nb5gv6pstgsb_pm0000gn/T/"
export SHLVL="1"
export __CF_USER_TEXT_ENCODING="0x0:0:0"
export XPC_FLAGS="0x0"
export XPC_SERVICE_NAME="0"
export EZA_THEME=custom_theme


# --- Homebrew & Package Managers ---
export HOMEBREW_PREFIX="/opt/homebrew"
export HOMEBREW_CELLAR="/opt/homebrew/Cellar"
export HOMEBREW_REPOSITORY="/opt/homebrew"
export INFOPATH="/opt/homebrew/share/info:/opt/homebrew/share/info:/opt/homebrew/share/info:/opt/homebrew/share/info:"
export ASDF_DIR="/opt/homebrew/opt/asdf/libexec"
export ZSH="/Users/ilyakhruschev/.oh-my-zsh"

# --- Conda Environment ---
export CONDA_EXE="/Users/ilyakhruschev/miniconda3/bin/conda"
export _CE_M=""
export _CE_CONDA=""
export CONDA_PYTHON_EXE="/Users/ilyakhruschev/miniconda3/bin/python"
export CONDA_SHLVL="1"
export CONDA_PREFIX="/Users/ilyakhruschev/miniconda3"
export CONDA_DEFAULT_ENV="base"
export CONDA_PROMPT_MODIFIER="(base)"

# --- SSH & Security ---
export SSH_AUTH_SOCK="/private/tmp/com.apple.launchd.f3NDmWZDtx/Listeners"

# --- API Keys & Credentials ---
export CONSUMER_KEY="<YOUR_CONSUMER_KEY>"           # TODO: Fill in your consumer key
export CONSUMER_SECRET="<YOUR_CONSUMER_SECRET>"     # TODO: Fill in your consumer secret
export ACCESS_TOKEN="<YOUR_ACCESS_TOKEN>"           # TODO: Fill in your access token
export ACCESS_TOKEN_SECRET="<YOUR_ACCESS_TOKEN_SECRET>" # TODO: Fill in your access token secret
export BEARER_TOKEN="<YOUR_BEARER_TOKEN>"           # TODO: Fill in your bearer token
export TWILIO_SID="<YOUR_TWILIO_SID>"               # TODO: Fill in your Twilio SID
export TWILIO_TOKEN="<YOUR_TWILIO_TOKEN>"           # TODO: Fill in your Twilio token
export TWILIO_PHONE="<YOUR_TWILIO_PHONE>"           # TODO: Fill in your Twilio phone number
export GOOGLE_APPLICATION_CREDENTIALS="<YOUR_GOOGLE_APPLICATION_CREDENTIALS_PATH>" # TODO: Fill in your Google credentials path
export OPENAI_API_KEY="<YOUR_OPENAI_API_KEY>"       # TODO: Fill in your OpenAI API key
export NOTION_API_KEY="<YOUR_NOTION_API_KEY>"       # TODO: Fill in your Notion API key
export ANTHROPIC_API_KEY="<YOUR_ANTHROPIC_API_KEY>" # TODO: Fill in your Anthropic API key
export DESSERT="<YOUR_SECRET_DESSERT>"              # TODO: Fill in your secret dessert

# --- Database Connections ---
export MONGO_URI="<YOUR_MONGO_URI>"                 # TODO: Fill in your MongoDB URI

# --- Tool Configuration ---
export HDF5_DIR="/opt/homebrew/opt/hdf5"
export BLOSC_DIR="/opt/homebrew/opt/c-blosc"
export AUTOJUMP_SOURCED="1"
export AUTOJUMP_ERROR_PATH="/Users/ilyakhruschev/Library/autojump/errors.log"
export P9K_SSH="0"
export STARSHIP_SHELL="zsh"
export STARSHIP_SESSION_KEY="1128428469250424"

# --- Custom Paths & Variables ---
export ADTALEM_REPO_PATH="/Users/ilyakhruschev/AdTalem/repos/"
export LOCAL_HOST_IP="10.1.7.129"
export LOCAL_HOST_NAME="sxxi2"
export ETF_HOST_IP="10.1.4.6"
export PROJECT_ID="frenchgp"
export XREF="EXR"
export PORT="2190"
export SEND_RECV="0"

# --- Remote Machine Paths ---
export MYPI="pi@192.168.0.9"
export PI="pi@192.168.0.9:/home/pi/Downloads"
export PI4="elucia@192.168.0.88:/mnt/storage1/WatchTorrents"
export PI42="elucia@192.168.0.88:/mnt/storage1/WatchTorrents"
export MOVIES="pi@192.168.0.9:/mnt/storage1/Movies"
export TMP="pi@192.168.0.89:/mnt/storage1/tmp_extractions"
